:root {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: block;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  width: 100%;
  max-width: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;       /* default, but enforce it just in case */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: block;
  width: 100%;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* button */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* section */

section {
  padding: 10px 20px;
  margin-bottom: 20px;
  color: black;
  display: flex;
  width: 800px;
  align-items: flex-start;
  flex-direction: column;
  text-align: center;
  scroll-margin-top: 60px;
}

.extra-big-text {
  font-size: 2rem;
}

.standard-text {
  font-size: 0.8rem;
}

.small-text {
  font-size: 0.5rem;
}

/* footer */

footer {
  background-color: #FFFFF4;
  color: black;
  text-align: left;
}


/* quote component */

#quote-component p {
  margin: 0;
}

#quote-component {
  align-items: center;
  margin-bottom: 0px;
}

#leader-component h2 {
  margin: 0;
}

/* how it works */

#how-it-works  p, h2 {
    text-align: left;
}

#how-it-works h2 {
  margin-bottom: 0px;
}

#how-section-0 {
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  margin: 0;
}

#how-section-1 {
  display: flex;
  flex-grow: row;
}

.how-it-works-sub-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#how-section-1-1 {
    width: 60%;
}

#how-it-works-image-1 {
  width: 20%;
}

#how-section-2-1 {
  width: 50%;
}

#how-section-3-1 {
  width: 50%;
}

#how-it-works-image-2 {
  width: 40%;
  height: auto;
  flex-shrink: 0
}

#how-it-works-image-3 {
  width: 40%;
  height: auto;
  flex-shrink: 0
}


#leader-component {
  padding-top: 80px;
  align-items: center;
}

/* nav bar */

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #008000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  z-index: 1000;
  color: white;
  border-bottom: 1px solid black;
}

#navbar_content {
  width: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 1px solid black;

}

#navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

footer {
  background-color: #FFFFF4;
  padding: 20px;
  text-align: center;
}


button {
  background-color: #008000; /* default green */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

/* Optional: hover/focus styles */
button:hover {
  opacity: 0.9;
}

/* publisher/retailer section */

.publisher-retailer-leader {
  text-align: left;
}

/* Publishers */

#publishers {
  color: white;
}


/* Icon section */


.icon-section {
  display: flex;
  flex-direction: row;
}

.icon-section p {
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
}

.icon-section h3 {
  text-align: left;
  font-size: 1em;
}

.icon-subsection {
  margin: 0px 10px 0px 10px;
}
